* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin-top: 50px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
}

.dark-mode {
    background-color: black;
    color: white;
}

/* Toggle Dark Mode */
.toggle-mode {    
    position: fixed;
    top: 30px;
    right: 50px;
    font-size: 30px;
    background: transparent;
    border: transparent;
    transition: all .4s linear;
    cursor: pointer;
}

.toggle-mode:hover {
    color: #9CA0A4;
}

/*title*/

.title {
    font-size: 10vw;
}

.number {
    font-size: 25vw;
}



/*buttons*/

.buttons {
    display: flex;
    justify-content: center;    
}

#button {
    width: 8vw;
    height: 5vw;
    font-size: 2vw;
    margin: 0.5vw;
    border-radius: 25px;
}

.mhundred {
    width: 7vw;
}

.mten {
    width: 5.5vw;
}

.mone {
    width: 5vw;
}

.one {
    width: 5vw;
}

.ten {
    width: 5.5vw;
}

.hundred {
    width: 7vw;
}

.reset {
    width: 10vw;
    height: 5vw;
}




/* Footer */

footer  {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-box {    
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
}

.footer-a {
    font-size: 30px;
}

.footer-dark {
    background-color: black;
}

.white {
    color: white;
}

a {
    color: black;
}